body{
    margin: 0%;
    padding: 0%;
    background: rgba(17, 15, 15, 0.836);
    color: white;
    background-size: cover;
}
.top-nav{
    width: 100%;
    height: 5%;
    background-color: rgb(14, 134, 204);
    font-size: 22px;
    font-family: 'Exo', sans-serif;
}
.action{
    text-decoration: none;
    color: aliceblue;
    margin-right: 5px;
}
.action:hover{
    color:rgb(39, 39, 39);
}
.nothing{
    width: 100%;
    height: 1%;
    background-color: rgba(15, 15, 15, 0.658);
}
.container{
    margin-left: 30px;
}
.header-line{
    font-size: 50px;
    font-family: 'Underdog', cursive;
}
.search-bar{
    background-color: black;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: left;
    color: rgb(14, 134, 204);
}
.btn{
   background-color: rgb(14, 134, 204);
   border-radius: 5px;
   border: none;
   outline: none;
   height: 30px;
   cursor: pointer;
   color: white;
   font-style: italic;
   font-size: 15px;
}
.btn:hover{
    background: rgba(15, 15, 15, 0.658);
}
.timeline{
    border-style: solid;
    border-color: rgb(14, 134, 204);
    margin-right: 35px;
    border-radius: 10px;
}
h1{
    font-family: 'Exo', sans-serif;
    font-size: 50px;
    margin-left: 40px;
    margin: 0.3cm;
}
.post-btn{
    background-color: rgb(14, 134, 204);
    border-radius: 5px;
    border: none;
    outline: none;
    height: 50px;
    width: 260px;
    cursor: pointer;
    color: white;
    font-family:'Exo', sans-serif;
    font-size: 30px;
    margin-right: 15px;
}
.post-btn:hover{
    background: rgba(15, 15, 15, 0.658);
}
.blog-container{
    border-style: solid;
    border-color: rgb(14, 134, 204);
    margin-right: 35px;
    border-radius: 10px;
}
.body-tab{
    margin-top: 15px;
    font-size: 25px;
    font-family: 'Abel', sans-serif;
 
}
.tr-container{
    color:rgb(14, 134, 204);
    font-size: 20px;
}
td{
    line-height: 2;
    width: 22%;
    text-align: center;
}
.btn1{
    background-color: rgb(14, 134, 204);
    border-radius: 5px;
    border: none;
    outline: none;
    height: 30px;
    cursor: pointer;
    color: white;
    font-style: italic;
    font-size: 15px;
}
.btn1:hover{
    background: rgba(15, 15, 15, 0.658);
}
